body {
  font-family: "Open Sans";
  background-attachment: fixed;
  background: linear-gradient(-90deg, #829c57, #60913b);
}

.code {
  font-family: monospace;
  text-align: center;
  margin: 2em;
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
  /* font-weight: 500;
  margin: 2em 0 1em 0; */
}

h2 {
  font-weight: 500;
  margin: 2em 0 1em 0;
}

h6 {
  margin: 2em 0 0 0;
}

p {
  margin: 1em 0 1em 0;
}

a {
  color: #444444;
  text-decoration: none;
  display: inline-block;
  padding: 0 0.5em;
  border: 1px solid rgba(255, 255, 255, 0);
  margin: -0.5px;
  /* no underline */
}

a.menu:hover {
  border-left-color: #444444;
  border-right-color: #444444;
  text-decoration: none;
  color: #444444;
}

.ramka {
  transform: rotate(0.5deg);
  color: #444444;
  background: rgba(211, 211, 211, 0.5);
  padding: 2em;
  margin: 40px auto;
  border: 2px solid #444444;
  border-radius: 4px;
  box-sizing: border-box;
  width: 75%;
}

.ramka h2 {
  text-align: center;
}

.podramka {
  float: left;
  box-sizing: border-box;
  width: 48%;
}

.ramka_linki {
  margin: 1em;
  display: table;
}

h2 {
  margin-top: 2em;
}

.ramka_form {
  vertical-align: middle;
  width: 20%;
  display: inline-block;
}

.nadramka_form {
  display: float;
}

input,
select {
  margin: 0.5em 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="submit"],
input[type="reset"],
select,
textarea {
  color: #444444;
  border: 0px solid;
  background-color: rgba(255, 255, 255, 0.329);
  width: 100%;
  padding: 1px 0 1px 0;
  margin: 8px 0 8px 0;
}

img.ryj {
  /* transform: rotate(210deg); */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

table {
  vertical-align: top;
  transform: rotate(-0.5deg);
  margin-top: 2em;
  border: 2px solid #444444;
  background: rgba(211, 211, 211, 0.5);
}

table.forma {
  border: 0;
  margin: 0;
  background: rgba(211, 211, 211, 0);
  width: 40%;
}

table.forma td {
  padding: 0;
}

td {
  border: 1px solid #a9b39c;
  padding: 1em;
}

td.obrazek,
tr.pic td {
  vertical-align: middle;
  padding: 0em;
}

td div img {
  width: 100%;
  text-align: center;
  vertical-align: top;
}

td div {
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  box-sizing: border-box;
}

table.gallery td {
  text-align: center;
}

.tabela {
  border: 2px solid #444444;
  background: rgba(211, 211, 211, 0.5);
  margin: 2em 0;
}

.tabela div div {
  box-sizing: border-box;
  padding: 1em;
  vertical-align: top;
  display: inline-block;
}

.tgaleria div div {
  text-align: center;
}

.tgaleria .tobrazki div {
  padding: 0;
}

.tabela img {
  width: 100%;
}

.c1 {
  width: 16%;
}

.c2 {
  width: 33%;
}

.c3 {
  width: 50%;
}

.c4 {
  width: 66%;
}

.calculator {
  width: 400px;
  padding: 4px;
  border: 1px solid #444444;
}

.guzik {
  box-sizing: border-box;
  background: rgba(211, 211, 211, 0.5);
  width: 92px;
  padding: 20px;
  margin: 4px 2px;
  display: inline-block;
}

.guzik:active {
  background: rgba(211, 211, 211, 0.8);
}

.szeroki4 {
  font-family: monospace;
  font-size: 200%;
  width: 292px;
  background: rgba(211, 211, 211, 0);
  text-align: right;
  border: 0;
}

input.is-invalid {
  background-color: rgba(255, 125, 125, 0.5);
}
